@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents

@model HerPublicWebsite.Models.Questionnaire.ServiceUnsuitableViewModel
@{
    ViewBag.Title = "Sorry, this service isn't for you";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">Sorry, this service isn't for you</h1>
        <p class="govuk-body">TODO: Fill in this page</p>
    </div>
</div>
