@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HerPortal.Models.HomepageViewModel

<h2 class="govuk-heading-m">Organisations</h2>
<form method="get">
    @(await Html.GovUkCheckboxesFromStringsFor
        (
            model => model.CustodianCodes,
            Model.LocalAuthorityCheckboxLabels
        )
    )
    @(await Html.GovUkButton(new ButtonViewModel
    {
        Text = "Apply filters"
    }))
</form>
