@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HerPortal.Models.HomepageViewModel

<form method="get">
    @(await Html.GovUkCheckboxesFromStringsFor(
            model => model.CustodianCodes,
            checkboxOptions: Model.LocalAuthorityCheckboxLabels,
            fieldsetOptions: new FieldsetViewModel()
            {
                Legend = new LegendViewModel()
                {
                    Html = @<h2 class="govuk-heading-m">Organisations</h2>,
                    IsPageHeading = false
                }
            }
        )
    )
    @(await Html.GovUkButton(new ButtonViewModel
    {
        Text = "Apply filters"
    }))
</form>
