@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Home Energy Retrofit Portal BETA";
}
@{
    string assetsPath = $"{Constants.BASE_PATH}/assets/images";
}

@section BeforeMain {
    <nav class="app-primary-navigation" aria-label="primary">
        <ul class="app-primary-navigation__list">
            <li class="app-primary-navigation__item">
                <a asp-action="Index" class="app-primary-navigation__link">Referral files</a>
            </li>
            <li class="app-primary-navigation__item app-primary-navigation__item--current">
                <a asp-action="SupportingDocuments" class="app-primary-navigation__link" aria-current="page">Supporting documents</a>
            </li>
        </ul>
    </nav>
}

<h2 class="govuk-heading-l">Supporting documents</h2>
<h3 class="govuk-heading-m">Home energy retrofit process</h3>
<ul class="govuk-list">
    <li>
        <a class="govuk-link" href="#consumer-service">Consumer service</a>
    </li>
    <li>
        <a class="govuk-link" href="#referral-portal">Referral portal</a>
    </li>
</ul>
<h3 class="govuk-heading-m">Data explained</h3>
<ul class="govuk-list">
    <li>
        <a class="govuk-link" href="#hug-2-data">The Home Upgrade Grant 2 data</a>
    </li>
</ul>
        
<h2 class="govuk-heading-l">Home energy retrofit process</h2>
<p class="govuk-body">
    The referral system has two main elements:
    <ul class="govuk-list govuk-list--bullet">
        <li>a consumer facing service</li>
        <li>a data referral portal</li>
    </ul>
</p>
<p class="govuk-body">
    Neither of these systems will replace your existing processes to deliver HUG2.
    It is instead another route for consumers to find government schemes and be connected to you. 
</p>

<img src="@(assetsPath)/her-roadmap.svg" alt="A roadmap showing the stages of the home energy retrofit process. The first stage,
'consumer service', is marked as completed; the next stage, 'referral portal', is highlighted; and the final two
stages are 'application verification' and 'home improvements'." />

<h3 class="govuk-heading-m" id="consumer-service">Consumer service</h3>
<p class="govuk-body">
    The consumer service is where applicants provide information to determine if they may be eligible for HUG2.
    The applicant will have provided:
    <ul class="govuk-list govuk-list--bullet">
        <li>whether they own or rent their home</li>
        <li>their full address, which is used to check EPC, LSOA and Local Authority</li>
        <li>their income band</li>
        <li>whether their property has a gas boiler or not</li>
    </ul>
</p>
<p class="govuk-body">
    All these answers are used to assess whether the applicant is likely to be eligible for the Home Upgrade Grant.
    Only applicants who are predicted to be eligible are referred to you. 
</p>
@(await Html.GovUkInsetText(new InsetTextViewModel
{
    Text = "Other government backed energy schemes will be integrated into this service in the future.",
}))
<p class="govuk-body">
    After applicants are shown their estimated eligibility status, they can provide their contact details to allow
    Local Authorities to contact them.
</p>
<p class="govuk-body">
    The consumer service is <strong class="govuk-!-font-weight-bold">not</strong> for:
    <ul class="govuk-list govuk-list--bullet">
        <li>Private tenants</li>
        <li>Social housing tenants</li>
        <li>Those who own their property via shared ownership scheme</li>
        <li>Landlords</li>
    </ul>
</p>

<h3 class="govuk-heading-m" id="referral-portal">Referral portal</h3>
<p class="govuk-body">
    The referral portal is for local authorities, delivery partners and/or consortia to receive applications.
    You will only be able to access applicants that are within your region based on postal code.
</p>
<p class="govuk-body">
    Applications will be grouped into monthly csv files and sorted by local authority area.
    The file for the current month will continually update.
    On the last day of the month a new file will begin overnight.
    All data from previous months can be accessed at any time. 
</p>

<hr class="govuk-section-break--l govuk-section-break--visible" />

<h2 class="govuk-heading-l">Data explained</h2>
<p class="govuk-body">The spreadsheet you download will have a number of data fields inside.</p>
<p class="govuk-body">Below is a table providing definitions of all data fields.</p>

<h3 class="govuk-heading-m" id="hug-2-data">The Home Upgrade Grant 2 data</h3>
@(await Html.GovUkTable(new TableGovUkViewModel
{
    Head = new List<TableCellViewModel>(),
    Rows = new List<TableRowViewModel>
    {
        new()
        {
            Row = new List<TableCellViewModel>
            {
                new()
                {
                    Text = "Date and time applied",
                },
                new()
                {
                    Text = "The date and time the application was submitted.",
                },
            },
        },
        new()
        {
            Row = new List<TableCellViewModel>
            {
                new()
                {
                    Text = "Referral ID",
                },
                new()
                {
                    Text = "The referral ID will be used to track applications throughout the service."
                           + " You must include this ID when reporting back to the Department for Energy"
                           + " Security and Net Zero.",
                },
            },
        },
        new()
        {
            Row = new List<TableCellViewModel>
            {
                new()
                {
                    Html = @<text>
                               LSOAs
                               <br/>
                               Lower Layer Super Output Areas
                            </text>,
                },
                new()
                {
                    Text = "If the applicant lives in an LSOA, income is not required to determine eligibility.",
                },
            },
        },
        new()
        {
            Row = new List<TableCellViewModel>
            {
                new()
                {
                    Text = "EPC rating",
                },
                new()
                {
                    Html = @<text>
                               Only EPCs less than 10 years old will be used as part of this service.
                               If no EPC is returned this field will be blank.
                               <br/>
                               <br/>
                               If the applicant has an EPC rating of A/B/C then they are likely ineligible so it's
                               unlikely this will be contained in the referral file.
                            </text>,
                },
            },
        },
        new()
        {
            Row = new List<TableCellViewModel>
            {
                new()
                {
                    Text = "Contact details",
                },
                new()
                {
                    Text = "An email address and/or phone number for the applicant will be provided.",
                },
            },
        },
        new()
        {
            Row = new List<TableCellViewModel>
            {
                new()
                {
                    Text = "Contact preferences",
                },
                new()
                {
                    Text = "To ensure access needs can be met, the applicant will give a preference for how they wish"
                           + " to be contacted.",
                },
            },
        },
    },
    FirstCellIsHeader = true,
}))
