@{
    ViewBag.Title = "Home Energy Retrofit Portal BETA";
}

@section BeforeMain {
}

<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#referral-files">
                Referral Files
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#supporting-documents">
                Supporting documents
            </a>
        </li>
    </ul>
    <div class="govuk-tabs__panel" id="referral-files">
        <h2 class="govuk-heading-l">Referral Files</h2>
        <p class="govuk-body">For the Home Upgrade Grant 2.</p>
        <p class="govuk-body govuk-!-font-weight-bold">You have not received any applications yet.</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Month/Year</th>
              <th scope="col" class="govuk-table__header">Last updated</th>
              <th scope="col" class="govuk-table__header">Updates</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">January 2023</a>
                  </td>
                  <td class="govuk-table__cell">01/01/23</td>
                  <td class="govuk-table__cell">...</td>
              </tr>
          </tbody>
        </table>
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="supporting-documents">
        <h2 class="govuk-heading-l">Supporting documents</h2>
        <h3 class="govuk-heading-m">Home energy retrofit process</h3>
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="#">Consumer service</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Referral portal</a>
            </li>
        </ul>
        <h3 class="govuk-heading-m">Data explained</h3>
        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="#">The Home Upgrade Grant 2 data</a>
            </li>
        </ul>
        
        <h2 class="govuk-heading-l">Home energy retrofit process</h2>
        <p class="govuk-body">
            The referral system has two main elements:
            <ul class="govuk-list govuk-list--bullet">
                <li>a consumer facing service</li>
                <li>a data referral portal</li>
            </ul>
        </p>
        <p class="govuk-body">
            Neither of these systems will replace your existing processes to deliver HUG2.
            It is instead another route for consumers to find government schemes and be connected to you. 
        </p>
    </div>
</div>
