@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@{
    ViewBag.Title = "Home Energy Retrofit Portal BETA";
}

@section BeforeMain {
}

<p class="govuk-body-l">
    Welcome,
    @(
        User.Claims
            .Single(c => c.Type == "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress")
            .Value
    )
</p>

@{
    var referralFilesTab = await Html.PartialAsync("Tabs/_ReferralFilesTab");
    var supportingDocumentsTab = await Html.PartialAsync("Tabs/_SupportingDocumentsTab");

    // These slightly strange constructions are required to be able to
    // pass a System.Func<object, object> to Html.GovUkTabs
    object GetReferralFilesTab(object unused)
    {
        return referralFilesTab;
    }
    object GetSupportingDocumentsTab(object unused)
    {
        return supportingDocumentsTab;
    }
}

@(await Html.GovUkTabs(new TabsViewModel
{
    Title = "Contents",
    Items = new List<TabsListItemViewModel>
    {
        new()
        {
            Id = "referral-files",
            Label = "Referral Files",
            Panel = new TabsListItemSectionViewModel
            {
                Html = GetReferralFilesTab
            }
        },
        new()
        {
            Id = "supporting-documents",
            Label = "Supporting documents",
            Panel = new TabsListItemSectionViewModel
            {
                Html = GetSupportingDocumentsTab
            }
        },
    }
}))
