@{
    ViewBag.Title = "Deleted user";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">You no longer have access to the referral portal</h1>

        <p class="govuk-body">
            Your account has been removed and you cannot manage referrals.<br>
            If you believe this is a mistake, please contact your Service Manager.
        </p>
    </div>
</div>
