@model HerPortal.Models.HomepageViewModel
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents

@if (Model.ShouldShowBanner)
{
    @(await Html.GovUkNotificationBanner(new NotificationBannerViewModel
    {
        TitleText = "Welcome",
        Text = "Read all contents in the \"Supporting documents\" tab first",
    }))
}

<h2 class="govuk-heading-l">Referral Files</h2>
<p class="govuk-body">For the Home Upgrade Grant 2.</p>
<p class="govuk-body govuk-!-font-weight-bold">You have not received any applications yet.</p>

@(await Html.GovUkTable(new TableGovUkViewModel
{
    Head = new List<TableCellViewModel>
    {
        new()
        {
            Text = "Month/Year",
        },
        new()
        {
            Text = "Last updated",
        },
        new()
        {
            Text = "Updates",
        },
    },
    Rows = Model.CsvFiles.Select(cf => new TableRowViewModel
        {
            Row = new List<TableCellViewModel>
            {
                new()
                {
                    Html = @<a class="govuk-link" href="#">
                               @(new DateOnly(cf.Year, cf.Month, 1).ToString("MMMM yyyy"))
                           </a>
                },
                new()
                {
                    Text = cf.LastUpdated.ToString("dd/MM/yy"),
                },
                new()
                {
                    Text = "...",
                },
            },
        }
    ).ToList(),
    FirstCellIsHeader = false,
}))
