@model HerPortal.Models.HomepageViewModel
@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents

@if (Model.ShouldShowBanner)
{
    @(await Html.GovUkNotificationBanner(new NotificationBannerViewModel
    {
        TitleText = "Welcome",
        Text = "Read all contents in the \"Supporting documents\" tab first",
    }))
}

@if (Model.ShouldShowFilters)
{
    <div class="govuk-grid-row">
        <aside class="govuk-grid-column-one-third">
            @await Html.PartialAsync("Tabs/_MultiRegionFilter", Model)
        </aside>
        <div class="govuk-grid-column-two-thirds">
            @await Html.PartialAsync("Tabs/_ReferralFilesSection", Model)
        </div>
    </div>
}
else
{
    @await Html.PartialAsync("Tabs/_ReferralFilesSection", Model)
}
