@{
    ViewBag.Title = $"Warm Homes: Local Grant Portal";
}

<h1 class="govuk-heading-xl">Warm Homes: Local Grant Service Manager Portal</h1>
<p class="govuk-body">
    Functionality will be added soon...
</p>
<p class="govuk-body">
    QA: Service Managers should be able to access
    <a href="@Url.Action("ServiceManagerTestPage", "ServiceManager")" class="govuk-link">this page</a>,
    but Local Authority/Consortia staff should not.
</p>
