@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model WhlgPortalWebsite.Models.ServiceManagerHomepageViewModel

@{
    ViewBag.Title = "Warm Homes: Local Grant Portal";
}

<h1 class="govuk-heading-xl">Warm Homes: Local Grant Service Manager Portal</h1>

<h2 class="govuk-heading-l">Manage Local Authority/Consortia Users</h2>
<h3 class="govuk-heading-m">Add a new user</h3>
@(await Html.GovUkButton(new ButtonViewModel
{
    Text = "Add new user",
    Href = Url.Action("OnboardDeliveryPartnerPage", "ServiceManager")
}))

<h3 class="govuk-heading-m">View existing users</h3>
<form method="get">
    @(await Html.GovUkTextInputFor(
        m => m.SearchEmailAddress,
        labelOptions: new LabelViewModel
        {
            Text = "Search for a user"
        },
        placeholder: "User email"))

    @(await Html.GovUkButton(new ButtonViewModel
    {
        Text = "Search"
    }))
</form>

@await Html.GovUkTable(new TableGovUkViewModel
{
    Head = new List<TableCellViewModel>
    {
        new()
        {
            Text = "Email"
        },
        new()
        {
            Text = "Manages"
        },
        new()
        {
            Text = "Actions"
        }
    },
    Rows = Model.UserList.Select(user => new TableRowViewModel
    {
        Row = new List<TableCellViewModel>
        {
            new()
            {
                Text = user.EmailAddress
            },
            new()
            {
                Text = user.Manages
            },
            new()
            {
                Html = @<a class="govuk-link" href="@Url.Action("ServiceManagerTestPage", "ServiceManager")">Assign to authority</a>
            }
        }
    }).ToList()
})