
.logo-customizable {
  max-width: 60%;
  max-height: 30%;
}

.banner-customizable {
  padding: 0px 0px 0px 0px;
  background-color: black;
}

.label-customizable {
  font-weight: 400;
}

.textDescription-customizable {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  font-size: 24px;
}

.idpDescription-customizable {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  font-size: 16px;
}

.legalText-customizable {
  color: #747474;
  font-size: 11px;
}

.submitButton-customizable {
  font-size: 16px;
  font-weight: 400;
  margin: 20px 0px 10px 0px;
  height: 40px;
  width: 100%;
  color: #fff;
  background-color: #00703c;
}

.submitButton-customizable:hover {
  color: #fff;
  background-color: #005a30;
  border-color: #005a30;
}

.errorMessage-customizable {
  padding: 5px;
  font-size: 16px;
  width: 100%;
  background: #fff;
  border: 2px solid #d4351c;
  color: #d4351c;
}

.inputField-customizable {
  width: 100%;
  height: 34px;
  color: #555;
  background-color: #fff;
  border: 2px solid #0b0c0c;
}

.inputField-customizable:focus {
  border-color: #0b0c0c;
  outline: 3px solid #ffdd00;
}

.idpButton-customizable {
  height: 40px;
  width: 100%;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.idpButton-customizable:hover {
  color: #fff;
  background-color: #31b0d5;
}

.socialButton-customizable {
  border-radius: 2px;
  height: 40px;
  margin-bottom: 15px;
  padding: 1px;
  text-align: left;
  width: 100%;
}

.redirect-customizable {
  text-align: center;
}

.passwordCheck-notValid-customizable {
  color: #d4351c;
}

.passwordCheck-valid-customizable {
  color: #00703c;
}

.background-customizable {
  background-color: #fff;
}
