@{
    ViewBag.Title = $"Warm Homes: Local Grant Portal";
}

@* TODO: PC-1841/PC-1842 replace this page with service manager specific views *@
<p class="govuk-body">This page can only be viewed by Service Managers</p>
